.sec6{
    padding: 112px 0px;
}
.sec6d{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec6dtop{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec6dtop span{
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    color: #e2c0bb;
    line-height: 1.8;
    font-weight: 400;
}
.sec6dtop h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 24px;
    font-weight: lighter;
    font-family: "Cormorant Garamond", Georgia, serif;
    color: #000000e6;
    line-height: 1.5;
}
.sec6dtop p{
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}
.sec6dbottom{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sec6di{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
}
.sec6img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    transform: scale(1.2);
    transition: 0.6s;
}
.card{
    border: none;
    margin-bottom: 40px;
}
.card:hover .sec6img{
    transform: scale(1);
}
.card:hover h4{
    background-color: #eec9c4;
}
.card-body{
    padding: 24px 0px;
}
.card h4{
    position: absolute;
    margin-top: -13%;
    left: 25px;
    display: block;
    padding: 0.4em 0.7em;
    background: #d39f97;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    font-family: "Poppins", Arial, sans-serif;
    transition: 0.6s;
}
.card span{
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.2);
    padding: 0px !important;
}
.card h3 a{
    font-size: 18px;
    line-height: 1.5;
    font-weight: lighter;
    color: #000000;
    font-family: "Cormorant Garamond", Georgia, serif;
    text-decoration: none;
}
.sec6id{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review{
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.review i{
    font-size: 10px;
    color: #e2c0bb;
}
.d120{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.d120 a{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}